.admin-wrapper {
  min-height: 100vh;
  @include media-breakpoint-down(md) {
    overflow-x: auto;
  }
  .row {
    min-height: 100vh;
    flex-wrap: nowrap;

    .side-pane {
      flex: 1;
      background: #fff;
      box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);
      overflow: hidden;
      display: flex;
      flex-direction: column;
      align-items: center;
      min-width: 261px;

      &.toggle-side-pane-enter {
        transform: translateX(0%);
      }

      &.toggle-side-pane-enter-active {
        transform: translateX(1%);
        transition: transform 0.5s ease-in-out;
      }

      &.toggle-side-pane-exit {
        transform: translateX(0%);
      }
      &.toggle-side-pane-exit-active {
        transform: translateX(-100%);
        transition: transform 0.5s ease-in-out;
      }

      div {
        width: 100%;
      }

      .logo {
        padding: 10px 0px;
        h1 {
          text-align: center;
          font-size: 30px;
        }
      }
      .list-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        ul {
          width: 100%;
          margin: 0px;
          padding: 0px;

          li {
            cursor: pointer;

            width: 100%;
            list-style: none;
            font-size: 18px;
            font-weight: 500;
            color: rgba(0, 0, 0, 0.7);
            padding: 0;
            &:hover {
              background: rgba(0, 0, 0, 0.07);
            }
            > .no-animation {
              padding: 10px 50px;
              display: flex;
              justify-content: flex-start;
              align-items: center;
              > svg {
                width: 13px;
              }
              > span {
                margin-left: 20px;
              }
            }

            &.active {
              background: rgba(0, 0, 0, 0.07);
            }
          }
        }
      }
    }

    .action-pane {
      flex: 5;
      display: flex;
      flex-direction: column;
      max-height: 100vh;
      .div {
        width: 100%;
      }
      > .header-action-pane {
        flex: 0;
        padding: 15px 35px;

        background-color: #2f323e;
        > .header-wrapper {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          > #nav-icon {
            width: 30px;
            height: 25px;
            position: relative;
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
            -webkit-transition: 0.5s ease-in-out;
            -moz-transition: 0.5s ease-in-out;
            -o-transition: 0.5s ease-in-out;
            transition: 0.5s ease-in-out;
            cursor: pointer;
            > span {
              display: block;
              position: absolute;
              height: 4px;
              width: 100%;
              background: #d3531a;
              border-radius: 9px;
              opacity: 1;
              left: 0;
              -webkit-transform: rotate(0deg);
              -moz-transform: rotate(0deg);
              -o-transform: rotate(0deg);
              transform: rotate(0deg);
              -webkit-transition: 0.25s ease-in-out;
              -moz-transition: 0.25s ease-in-out;
              -o-transition: 0.25s ease-in-out;
              transition: 0.25s ease-in-out;
            }
            > span:nth-child(1) {
              top: 0px;
            }

            > span:nth-child(2),
            > span:nth-child(3) {
              top: 10px;
            }

            > span:nth-child(4) {
              top: 20px;
            }

            &.open span:nth-child(1) {
              top: 18px;
              width: 0%;
              left: 50%;
            }

            &.open span:nth-child(2) {
              -webkit-transform: rotate(45deg);
              -moz-transform: rotate(45deg);
              -o-transform: rotate(45deg);
              transform: rotate(45deg);
            }

            &.open span:nth-child(3) {
              -webkit-transform: rotate(-45deg);
              -moz-transform: rotate(-45deg);
              -o-transform: rotate(-45deg);
              transform: rotate(-45deg);
            }

            &.open span:nth-child(4) {
              top: 18px;
              width: 0%;
              left: 50%;
            }
          }
          > span.user-name {
            color: white;
            font-weight: bold;
            font-size: 15px;
            margin-left: 10px;
          }
        }
      }

      > .action-pane-wrapper {
        // height: 100%;
        flex: 5;
        display: flex;
        flex-direction: column;
        > .edit-pane {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          z-index: 1000;
          background-color: rgba(0, 0, 0, 0.7);
          .inner-edit-pane {
            background-color: white;
            border-radius: 10px;
            box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);
            header {
              padding: 15px 20px;
              border-bottom: 1px solid rgba(120, 130, 140, 0.13);
              display: flex;
              align-items: center;
              h1 {
                font-size: 15px;
                margin: 0;
              }
              .close-btn {
                cursor: pointer;
              }
            }
            .form {
              padding: 50px;
              padding-top: 20px;
            }
            .btn-action {
              .btn {
                border-radius: 50px;
              }
            }
          }
        }

        > .header {
          flex: 0;
          background-color: transparent;
          padding: 8px 25px;
          box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);
          display: flex;
          flex-direction: row;
          align-items: center;
          > span {
            font-size: 13px;
            font-weight: 500;
            color: black;
          }

          .search-bar {
            display: flex;
            flex-direction: row;
            align-items: center;
            border: 1px solid black;
            border-radius: 30px;
            padding: 3px 5px;
            .form-control {
              height: 30px !important;
              border: none !important;
            }
          }

          .refresh-icon {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-right: 10px;
            margin-left: auto;
            border-radius: 30px;
            padding: 5px 10px;

            cursor: pointer;
            span {
              @include media-breakpoint-down(md) {
                display: none;
              }
              pointer-events: none;
              color: white;
              font-size: 15px;
              margin-left: 5px;
            }
          }
        }
        > .main-action-pane {
          flex: 5;
          display: flex;
          padding: 20px 30px;
          overflow: hidden;
          max-height: 592px;
          .inner-action-pane {
            overflow: auto;
            display: flex;
            flex: 1;
            box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);
            background: white;
            min-width: 670px;
            &.user-pane {
              justify-content: center;
              .table {
                thead {
                  background-color: white;
                  tr {
                    position: sticky;
                    top: 0;
                    background-color: white;
                    th {
                      position: sticky;
                      top: 0;
                      text-align: center;
                      background-color: white;
                      white-space: nowrap !important;
                      z-index: 100;
                    }
                  }
                }
                td {
                  text-align: center;
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  max-width: 170px;
                  .btn-action {
                    cursor: pointer;
                  }
                }
              }
            }

            &.story-pane {
              flex-direction: column;
              align-items: center;
              height: auto;
              position: relative;
              header {
                position: sticky;
                top: 0;
                height: auto;
                flex: 0;
                padding: 10px 20px;
                background-color: white;
                z-index: 100;
                .form-group {
                  margin: 0;
                  display: flex;
                  align-items: center;
                  label {
                    margin: 0;
                    overflow: hidden;
                    text-overflow: ellipsis;
                  }
                }
              }
              .story-admin-wrapper {
                display: flex;
                flex-direction: row;
                justify-content: center;
                flex-wrap: wrap;
                flex: 5;
                &.list-story {
                  padding-top: 20px;
                  > .inner-story-admin-wrapper {
                    margin-bottom: 20px;
                    margin-right: 20px;

                    &.disable {
                      .story {
                        cursor: none;
                        pointer-events: none;
                      }
                    }
                    .story {
                      margin: 0;
                      min-width: 500px;
                      .row {
                        min-height: 0vh;
                      }
                    }
                    .action-btn {
                      display: flex;
                      align-items: center;
                      .btn-action {
                        cursor: pointer;
                      }
                      span {
                        font-size: 13px;
                      }
                    }
                  }
                }
              }
              .confirmation {
                position: sticky;
                width: 100%;
                bottom: 0%;
                padding: 15px 50px;
                z-index: 200;
                display: flex;
                align-items: center;
                span {
                  color: white;
                  margin-left: 20px;
                  display: flex;
                  > div {
                    max-width: 300px;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                    > span {
                      margin: 0px;
                    }
                  }
                }
                > .action-btn {
                  display: flex;
                  margin-left: auto;
                  span {
                    cursor: pointer;
                    color: white;
                    margin: 0px 5px;
                    padding: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                  }
                }
              }
            }

            &.comment-pane {
              flex-direction: column;
              align-items: center;
              height: auto;
              position: relative;
              header {
                position: sticky;
                top: 0;
                height: auto;
                flex: 0;
                padding: 10px 20px;
                background-color: white;
                z-index: 100;
                .form-group {
                  margin: 0;
                  display: flex;
                  align-items: center;
                  label {
                    flex: 1;
                    margin: 0;
                    overflow: hidden;
                    white-space: nowrap;
                    margin-right: 10px;
                  }
                  select {
                    flex: 5;
                    padding: 0px 10px !important;
                    height: 30px !important;
                  }
                }
              }
              .comment-list-wrapper {
                padding-top: 20px;
                width: 1000px;
                .inner-comment-list-wrapper {
                  position: relative;
                  margin-bottom: 20px;
                  .comment-wrapper {
                    max-width: 1000px;
                    margin: 15px 0px;
                    .col {
                      .wrapper-editable {
                        .head {
                          line-height: 20px;
                          .commenter-name {
                            color: black;
                            font-weight: 500;
                            font-size: 17px;
                          }
                          .comment-date {
                            font-size: 14px;
                          }
                        }
                        .body-wrapper {
                          padding-top: 3px;
                          .body-comment {
                            .ql-editor {
                              font-family: "Poppins", Arial, sans-serif !important;
                              font-style: normal;
                              padding-bottom: 0px;
                              color: black;
                              font-size: 15px !important;
                              padding: 0;
                              cursor: none;
                              pointer-events: none;
                            }
                          }
                        }
                      }
                    }
                  }
                  .action-btn {
                    position: absolute;
                    top: -5px;
                    right: 30px;
                    span {
                      cursor: pointer;
                    }
                  }
                }
              }
              .confirmation {
                position: sticky;
                width: 100%;
                bottom: 0%;
                padding: 15px 50px;
                z-index: 200;
                display: flex;
                align-items: center;
                span {
                  color: white;
                  margin-left: 20px;
                  display: flex;
                  > div {
                    max-width: 300px;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                    > span {
                      margin: 0;
                    }
                  }
                }
                > .action-btn {
                  display: flex;
                  margin-left: auto;
                  span {
                    cursor: pointer;
                    color: white;
                    margin: 0px 5px;
                    padding: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                  }
                }
              }
            }

            &.category-pane {
              position: relative;
              width: 100%;
              height: 100%;
              .floating-btn {
                position: fixed;
                bottom: 11%;
                right: 5%;
                display: flex;
                align-items: center;
                border-radius: 35px;
                background: #f33155;
                padding: 10px 20px;
                z-index: 1500;
                cursor: pointer;
                span {
                  color: white;
                  font-weight: 500;
                }
              }
              .category-list {
                display: flex;
                justify-content: center;
                padding: 20px 114px;
                @include media-breakpoint-down(md) {
                  padding: 0 64px;
                }

                @include media-breakpoint-down(sm) {
                  padding: 0 34px;
                }
                .category-list-wrapper {
                  display: flex;
                  align-items: flex-start;
                  flex-wrap: wrap;
                  justify-content: flex-start;
                  width: 100%;
                  height: fit-content;
                  .card {
                    width: 200px;
                    max-width: 200px;
                    height: 200px;
                    min-height: 200px;
                    max-height: 200px;
                    margin: 10px 25px;
                    border-radius: 20px;
                    background-color: rgba(47, 50, 62, 0.03);
                    box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);

                    .card-body {
                      position: relative;
                      display: flex;
                      flex-direction: column;
                      justify-content: center;
                      .form-control {
                        border: none;
                        height: 30px !important;
                        margin-bottom: 10px;
                        &.add-category {
                          border-bottom: 1px solid #e6e6e6;
                          transition: border-bottom ease-in 0.1s;
                          border-radius: 0;
                          &:focus {
                            border-bottom: 2px solid black;
                          }
                        }
                      }
                      .title {
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        span {
                          color: $black;
                          text-align: center;
                          text-overflow: ellipsis;
                          white-space: nowrap;
                          overflow: hidden;
                          max-width: 130px;
                        }
                        font-size: 20px;
                        font-weight: 500;
                        text-align: center;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                        max-width: 158px;
                      }
                      .action-btn {
                        display: flex;
                        align-items: center;
                        span {
                          cursor: pointer;
                          svg {
                            transition: 0.2s all ease-in;
                            &:hover {
                              color: $yellow;
                            }
                          }
                        }
                      }
                      .see-detail {
                        span,
                        svg {
                          transition: 0.2s all ease-in;
                        }

                        &:hover {
                          span,
                          svg {
                            color: $yellow;
                          }
                        }
                      }
                      .confirmation {
                        position: absolute;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        border-radius: 20px;
                        background-color: rgb(198, 40, 40);
                        .warning-icon {
                          display: flex;
                          justify-content: center;
                          padding-top: 25px;
                          svg {
                            font-size: 30px;
                          }
                        }

                        .confirmation-text {
                          z-index: inherit;
                          .title {
                            width: 100%;
                            max-width: unset;
                            white-space: pre-wrap;
                            text-overflow: unset;

                            span {
                              color: white;
                              text-overflow: unset;
                              white-space: pre-wrap;
                              font-size: 13px;
                              > div {
                                display: flex;
                                justify-content: center;
                                > div {
                                  overflow: hidden;
                                  text-overflow: ellipsis;
                                  white-space: nowrap;
                                  max-width: 100px;
                                  text-align: center;
                                  > span {
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    white-space: nowrap;
                                  }
                                }
                              }
                            }
                          }
                        }

                        .decision-btn {
                          margin-top: 10px;
                          .btn {
                            padding: 0 10px !important;
                            font-size: 13px;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }

      > .footer {
        flex: 0;
        box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 13px;
        span {
          font-weight: lighter;
          font-size: 15px;
          // color: black;
        }
      }
    }
  }
}

.comment-detail {
  position: absolute;
  width: 100vw;
  top: 0;
  right: 0;
  height: 100vh;
  background-color: rgba(120, 130, 140, 0.13);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  .inner-comment-detail {
    width: 500px;
    max-height: 500px;
    background-color: white;
    padding: 30px 40px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    position: relative;
    header {
      position: fixed;
      right: 30%;
      top: 10%;
      display: flex;
      justify-content: flex-end;
      margin-bottom: 10px;
      span {
        display: flex;
        align-items: center;
        cursor: pointer;
        border-radius: 30px;
        background-color: white;
        padding: 10px;
      }
    }
    .form-group {
      margin-bottom: 5px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      label {
        flex-grow: 1;
        overflow: hidden;
        white-space: nowrap;
        color: black;
        font-weight: 500;
      }
      h1 {
        flex-grow: 1;
        margin-bottom: 0px;
      }

      .body-comment {
        border: 1px solid rgba(120, 130, 140, 0.13);
        cursor: none;
        pointer-events: none;
        .ql-editor {
          font-family: Poppins;
          font-style: normal;
        }
      }
    }
    &::-webkit-scrollbar {
      width: 5px;
    }
    &::-webkit-scrollbar-track {
      border-radius: 10px;
      padding: 10px 0px;
    }
    &::-webkit-scrollbar-thumb {
      height: 5%;
      border-radius: 5px;
      background-color: rgba(0, 0, 0, 0.3);
    }
  }
}
