//Variables
@import "./template/variable.scss";
@import "./template/style.scss";
@import "./Auth.scss";
@import "./Story.scss";
@import "./Modals.scss";
* {
  box-sizing: border-box;
}

body {
  font-family: $font-primary !important;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  height: 100%;
}

#root,
.app-wrapper {
  overflow: hidden;
  height: 100%;
}

main {
  scroll-behavior: smooth;
}

a {
  color: $black;
  &:hover {
    color: $yellow;
  }
}
p {
  margin: 0;
}

.text-link {
  color: $black;
  font-weight: bold;
  transition: 0.3s all ease;
  cursor: pointer;
  &:hover {
    color: $yellow !important;
    text-decoration: underline;
  }
}

.disabled {
  color: $red;
  &:hover {
    color: $red !important;
    text-decoration: none;
    cursor: not-allowed !important;
  }
}

main {
  padding: 0;
  margin: 0;
  height: 100%;
  overflow: hidden;
}

#root,
.app-wrapper {
  padding: 0;
  margin: 0;
  height: 100%;
  overflow: hidden;
  min-height: 100vh;
}

@import "Header";

.dashboard {
  padding: 0 40px;
}

.status {
  color: red;
}

.height-100 {
  height: 100%;
}

.hidden {
  display: none !important;
  z-index: -1 !important;
}

.no-animation {
  color: black !important;
  cursor: pointer;
  &:hover {
    color: black !important;
  }
}
